@charset "utf-8";

button {
  width: 300px;
  padding: 16px;
  position: fixed;
  right: 32px;
  bottom: 32px;
}
.message {
  width: 300px;
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: popup 2s forwards;
  /* animation-fill-mode: forwards; */
}

@keyframes popup {
  0% {
    /* transform: translateY(100px); */
    transform: translateY(10px);
    opacity: 0;
  }
  20% {
    transform: none;
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
  }
}